
<button type="button" class="btn btn-secondary position-fixed" id='button-menu'>Menu</button>
<div class='menu position-fixed bg-white p-4 d-none' id = 'menu'>
    <ul class="navbar-nav ">
        <b>Bài tập logic mệnh đề</b>
        <li class="nav-item"><a href="" class="nav-link text-dark">Biểu diễn biểu thức</a></li>
        <li class="nav-item"><a href="" class="nav-link text-dark">Chứng minh hai mệnh đề tương đương</a></li>
        <li class="nav-item"><a href="" class="nav-link text-dark">Suy diễn logic</a></li>
    </ul>
    
    <ul class="navbar-nav ">
        <b>Bài tập hàm boolen</b>
        <li class="nav-item"><a href="" class="nav-link text-dark">Rút gọn hàm boolean</a></li>
    </ul>

    <ul class="navbar-nav ">
        <b>Bài tập quan hệ hai ngôi</b>
        <li class="nav-item"><a href="/qh2ngoi/1" class="nav-link text-dark">Tính chất các quan hệ</a></li>
        <li class="nav-item"><a href="/qh2ngoi/2" class="nav-link text-dark">Xét quan hệ tương đương</a></li>
        <li class="nav-item"><a href="/qh2ngoi/3" class="nav-link text-dark">Xét quan hệ thứ tự</a></li>
    </ul>
</div>