<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>TESTING GIAI TOAN</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Begin page content -->
    <main role="main" class="container mt-2">
        <!-- DE BAI -->
        <div class="khoi-de-bai">
            <div class="form-group content w-75 mx-auto mb-2 khoi-1">
                <!-- DE BAI -->
                <h1 class="text-white text-center" id="label-de-bai">Giải toán nhanh</h1>
                <!-- NUT TOAN TU -->
                <div class='d-inline-block bg-white '>
                    <%for(let i=0;i<toanTus.length;i++){%>
                        <div class="font-itim text-black toan-tu">
                            <%=toanTus[i]%>
                        </div>
                        <%}%>
                </div>
             
                <div id="gia-thiet">
                    <div class="menh-de-them-moi mb-1 position-relative menh-de-them-moi_last">
                        <div contenteditable="true" class="form-control bg-white noi-dung menh-de"></div>
                        <div class='them-xoa-menh-de'>
                            <span class="them" id='them-1'></span>
                            <span class="xoa " id='xoa-1'></span>
                        </div>
                    </div>
                </div>

                <div id='ket-luan' class="position-relative d-flex">
                    <div id='text-ket-luan'>KẾT LUẬN:</div>
                    <div id='noi-dung-ket-luan' contenteditable="true" class="menh-de"></div>
                </div>

            </div>
        </div>
        <!-- CAC NUOT CONTROL -->
        <div class="w-75 mx-auto">
            <div class='foot mt-2 text-center'>
                <button type="button" id='nop' class="btn btn-success font-itim">Nộp</button>
                <button type="button" class="btn btn-danger  font-itim">Xóa</button>
            </div>


            <div class="form-group border-bottom">
                <input type="range" value=".2" max="6" step="0.2" min=".15" name="toc-do" id="toc-do"
                    style="background-color: white;">
            </div>
        </div>


        <!-- LOI GIAI BAI TAP -->
        <div class="bai-giai w-75 mx-auto d-none">
            <h3 class="text-white text-center" id="label-de-bai">Giải:</h3>
            <div class="tien-de-giai">
                Ta có đề bài như sau:
                <div class="w-50 mx-auto" id='mo-ta-de-bai'>
                </div>
            </div>
            <div id='chi-tiet-loi-giai'>
            </div>
        </div>

    </main>
    <!-- END CONTENT -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container  text-center">
            <span class="text-white font-italic">Website đang được xây dựng bởi Khonng Nho Ten</span>
        </div>
    </footer>
    <!-- END FOOTER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>

    <script src="/js/suyDien.js"></script>
</body>

</html>